/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

table {
  border: 4px double #333;
  border-collapse: separate;
  width: 100%;
  border-spacing: 5px;
}